@font-face {
  font-family: 'Lucida Sans';
  src: url('../images/fonts/LSANS.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.key,
.button,
.box {
  outline: none;                           
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

html {
  background-color: #000117;
  background-image: url('../images/mobile/phone-bg.webp');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: scroll;

  min-height: 100vh;
  height: auto;
  overflow-y: auto;
}

.header {
  padding: 28px 0 28px 0;
}

.logo {
  display: block;
  width: 158px;
  height: 76px;
  margin: 0 auto;
  background-image: url('../images/mobile/Logo-mob.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 20px;
}

.text__top {
  font-family: Aclonica;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  line-height: 110%;
  color: rgba(255, 230, 23, 1);
}

.text__bottom {
  font-family: Aclonica;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: white;
  margin: 0 20px;
}

.keys {
  padding: 38px 5px 68px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.key {
  width: 143px;
  height: 237px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  cursor: pointer;
}

.key--1 {
  background-image: url('../images/key1.webp');
}

.key--2 {
  background-image: url('../images/key2.webp');
}

.key--3 {
  background-image: url('../images/key3.webp');
}

.button {
  position: relative;
  width: 315px;
  height: 70px;
  background: rgba(255, 225, 117, 1);
  border: 1px solid rgba(246, 143, 0, 1);
  margin: 0 auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inactive {
  background: rgba(139, 139, 139, 1);
  border: 1px solid rgba(79, 79, 79, 1)
}

.pulse {
  animation: scaleButton 2.5s ease-in-out infinite alternate;
}

@keyframes scaleButton {
  0% { transform: scale(1); }
  50% { transform: scale(0.85); }
  100% { transform: scale(1); }
}

.corner {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../images/button-elem.webp'); 
  background-size: contain;
  background-repeat: no-repeat;
}

.top-left {
  top: 4px;
  left: 4px;
  transform: rotate(-90deg);
}

.top-right {
  top: 4px;
  right: 4px;
}

.bottom-left {
  bottom: 4px;
  left: 4px;
  transform: rotate(-180deg);
}

.bottom-right {
  bottom: 4px;
  right: 4px;
  transform: rotate(90deg);
}

.button--text {
  font-family: Lucida Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: rgba(129, 34, 0, 1);
}

.inactive-text {
  color: rgba(71, 71, 71, 1);
}

.secondScreen {
  display: none;
}

.boxs {
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;
  gap: 24px;
  padding-top: 42px;
  padding-bottom: 80px;
}

.box {
  width: 231px;
  height: 293px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  cursor: pointer;
}

.box--1 {
  background-image: url('../images/box--1-activ.webp');
}

.box--2 {
  background-image: url('../images/box--2-activ.webp');
}

.box--3 {
  background-image: url('../images/box--3-activ.webp');
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: block;
  width: 350px;
  height: 449px;
  margin: 0 auto;
  background-image: url('../images/popup--mob.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
  padding-top: 100px;
}

body.modal-open .container > *:not(.modal-overlay) {
  opacity: 0.5;
  pointer-events: none;
}

.title__text--pop {
  gap: 0;
}

.text__bottom-pop {
  font-size: 17px;
  text-shadow: 0.88px 1.75px 0px rgba(120, 85, 7, 1);
  padding-bottom: 15px;
}

.text__top-pop {
  font-size: 32px;
  padding: 0 2px 40px 2px; 
}

.button--pop {
  width: 293px;
  height: 56px;
  text-decoration: none;
  box-shadow: 0px 0px 15px 0px rgba(255, 225, 117, 0.83);
  animation: scaleButton 2.5s ease-in-out infinite alternate;
}

@keyframes scaleButton {
  0% { transform: scale(1); }
  50% { transform: scale(0.85); }
  100% { transform: scale(1); }
}

.button--text--pop {
  font-size: 16px;
}

body.modal-open .box--1 {
  background-image: url('../images/box--1-activ.webp');
}

body.modal-open .box--2 {
  background-image: url('../images/box--2-activ.webp');
}

body.modal-open .box--3 {
  background-image: url('../images/box--3-activ.webp');
}

@media (min-width: 1440px) {
  body {
    width: 100vw;
    height: 100vh;  
    overflow: hidden;
    background-image: url('../images/desktop/desktop--bg.webp');
    background-position: center;
    background-size: cover;
  
  }

  .header {
    padding: 27px 0 40px 0;
  }
  
  .logo {
    width: 274px;
    height: 131px;
    background-image: url('../images/desktop/Logo-desk.webp');
  }

  .title__text {
    /* max-width: 1090px; */
    margin: 0 auto;
    gap: 24px;
  }

  .text__top {
    font-size: 48px;
  }

  .text__bottom {
    font-size: 24px;
    margin: 0;
  }

  .keys {
    gap: 84px;
    padding-top: 15px;
    padding-bottom: 4px;
  }
  .key {
    width: 201px;
    height: 330px;
  }

  .key--1:hover {
    transform: scale(1.28);
    background-image: url('../images/key1-active.webp');
  }
  
  .key--2:hover {
    transform: scale(1.28);
    background-image: url('../images/key2-active.webp');
  }
  
  .key--3:hover {
    transform: scale(1.28);
    background-image: url('../images/key3-active.webp');
  }

  .button {
    width: 355px;
  }

  .button.inactive {
    pointer-events: none;
    /* opacity: 0.5; */
    cursor: not-allowed;
  }

  .boxs {
    flex-direction: row;
    gap: 84px;
    padding-top: 85px;
  }
  
  .box {
    width: 339px;
    height: 404px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .box--1, .box--2, .box--3 {
    background-image: url('../images/box.webp');
  }

  .box--1:hover {
    background-image: url('../images/box--1-activ.webp');
  }
  
  .box--2:hover {
    background-image: url('../images/box--2-activ.webp');
  }
  
  .box--3:hover {
    background-image: url('../images/box--3-activ.webp');
  }

    .boxs {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 58px;
    padding-top: 16px;
  }
  
  .box {
    width: 291px;
    height: 434px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .modal {
    display: block;
    width: 672px;
    height: 366px;
    margin: 0 auto;
    background-image: url('../images/popum--desk.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 0;
  }
  
  .title__text--pop {
    gap: 0;
  }
  
  .text__bottom-pop {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 32px;
    line-height: 130%;
    text-shadow: 0.88px 1.75px 0px rgba(120, 85, 7, 1);
    padding: 74px 0 15px 0;
  }
  
  .text__top-pop {
    margin: 0 auto;
    line-height:  110%;
    width: 512px;
    font-size: 36px;
    padding: 0 2px 40px 2px; 
  }
  
  .button--pop {
    width: 293px;
    height: 56px;
    text-decoration: none;
  }
  
  .button--text--pop {
  
    font-size: 16px;
  }
}

@media (min-width: 1025px) and (max-width: 1439px) {
  body {
    width: 100vw;
    height: 100vh;  
    overflow: hidden;
    background-image: url('../images/desktop/desktop--bg.webp');
    background-position: center;
    background-size: cover;
  
  }

  .header {
    padding: 10px 0 15px 0;
  }
  
  .logo {
    width: 200px;
    height: 90px;
    background-image: url('../images/desktop/Logo-desk.webp');
  }

  .title__text {
    margin: 0 auto;
    gap: 24px;
  }

  .text__top {
    font-size: 35px;
  }

  .text__bottom {
    font-size: 20px;
    margin: 0;
  }

  .keys {
    gap: 64px;
    padding-top: 9px;
    padding-bottom: 25px;
  }
  .key {
    width: 180px;
    height: 260px;
  }

  .key--1:hover {
    transform: scale(1.28);
    background-image: url('../images/key1-active.webp');
  }
  
  .key--2:hover {
    transform: scale(1.28);
    background-image: url('../images/key2-active.webp');
  }
  
  .key--3:hover {
    transform: scale(1.28);
    background-image: url('../images/key3-active.webp');
  }

  .button {
    width: 355px;
  }

  .button.inactive {
    pointer-events: none;
    /* opacity: 0.5; */
    cursor: not-allowed;
  }

  .boxs {
    flex-direction: row;
    gap: 84px;
    padding-top: 85px;
  }
  
  .box {
    width: 339px;
    height: 404px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .box--1, .box--2, .box--3 {
    background-image: url('../images/box.webp');
  }

  .box--1:hover {
    background-image: url('../images/box--1-activ.webp');
  }
  
  .box--2:hover {
    background-image: url('../images/box--2-activ.webp');
  }
  
  .box--3:hover {
    background-image: url('../images/box--3-activ.webp');
  }

    .boxs {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 58px;
    padding-top: 16px;
  }
  
  .box {
    width: 291px;
    height: 434px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .modal {
    display: block;
    width: 672px;
    height: 366px;
    margin: 0 auto;
    background-image: url('../images/popum--desk.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 0;
  }
  
  .title__text--pop {
    gap: 0;
  }
  
  .text__bottom-pop {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 32px;
    line-height: 130%;
    text-shadow: 0.88px 1.75px 0px rgba(120, 85, 7, 1);
    padding: 74px 0 15px 0;
  }
  
  .text__top-pop {
    margin: 0 auto;
    line-height:  110%;
    width: 512px;
    font-size: 36px;
    padding: 0 2px 40px 2px; 
  }
  
  .button--pop {
    width: 293px;
    height: 56px;
    text-decoration: none;
  }
  
  .button--text--pop {
  
    font-size: 16px;
  }
};

@media (min-width: 767px) and (max-width: 1024px) {

  body {
    background-position: center;
    background-image: url('../images/tab/tab-bg.webp');
  }

  .header {
    padding: 48px 0;
  }
  
  .logo {
    width: 274px;
    height: 131px;
    background-image: url('../images/tab/Logo-tab.webp');
  }

  .title__text {
    max-width: 645px;
    margin: 0 auto;
    gap: 24px;
  }

  .text__top {
    font-size: 48px;
  }

  .text__bottom {
    font-size: 24px;
    margin: 0;
  }

  .keys {
    gap: 54px;
    padding-top: 74px;
    padding-bottom: 84px;
  }
  .key {
    width: 201px;
    height: 330px;
  }

  .button {
    width: 355px;
  }

  .boxs {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 58px;
    padding-top: 16px;
  }
  
  .box {
    width: 291px;
    height: 434px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .modal {
    display: block;
    width: 672px;
    height: 366px;
    margin: 0 auto;
    background-image: url('../images/popum--desk.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 0;
  }
  
  .title__text--pop {
    gap: 0;
  }
  
  .text__bottom-pop {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 32px;
    line-height: 130%;
    text-shadow: 0.88px 1.75px 0px rgba(120, 85, 7, 1);
    padding: 74px 0 15px 0;
  }
  
  .text__top-pop {
    margin: 0 auto;
    line-height:  110%;
    width: 512px;
    font-size: 36px;
    padding: 0 2px 40px 2px; 
  }
  
  .button--pop {
    width: 293px;
    height: 56px;
    text-decoration: none;
  }
  
  .button--text--pop {
  
    font-size: 16px;
  }
}













